*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'bebas_neue';
}

a{
    text-decoration: none;
}

.main-header{
    background: url(../img/header-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    position: relative;
    z-index: 3;
}

.main-header:before{
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.main-header .row{
    position: absolute;
    width: 100%;
    z-index: 3;
}

.red{
    background-color: red;
    height: 100px;
}

.main-title{
    font-family: 'bebas_neuebold';
    color: white;
    text-transform: uppercase;
    font-size: 6em;
    top: 80px;
    position: relative;
}

.main-subtitle{
    color: white;
    top: 50px;
    position: relative;
}

header{
    background-color: #252222;
}

.logo{
    font-family: 'bebas_neuebold';
    color: white;
    font-size: 2em;
}
.main-nav{
    padding: 10px 0;
}

.main-nav ul li{
    margin-top: 10px;
    margin-right: 15px;
    padding: 20px 0;
}

.main-nav a{
    color: white;
    font-size: 1.5em;
    padding:10px 5px;
}

.main-nav a:hover{
    color: #65ba99;
    text-decoration: none;
    border-bottom: 1px solid #65ba99;
}

.icons-nav{
    padding: 20px 0;
    margin: 10px 0;
}

.icons-nav ul{
    width: 100%;
}

.icons-nav li{
    width: 19%;
    float: left;
    margin-right:2%;
    padding: 2%;
    text-align: center;
    font-size: 1.5em;
    border-radius: 100%;
    border: 1px solid white;
    background-color: white;
}

.icons-nav li:hover{
    background-color: #65ba99;
    border: 1px solid #65ba99;
}

.icons-nav .iconav{
    color: #252222;
}

.icons-nav li:last-child{
    margin-right: 0;
}

/*content*/

.content{
    padding: 30px 0;
}


/*portfolio*/

#portfolio{
    background-color: #65ba99;
    overflow: hidden;
}

.content-title{
    text-transform: uppercase;
    color: white;
    font-size: 3em;
    margin: 0;
    font-family: 'bebas_neuebold';
}

.content-subtitle{
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
}

.img-container{
    margin: 20px 0;
    overflow: hidden;
}

.img-container .project{
    overflow: hidden;
    padding: 0;
    position: relative;
    cursor: pointer;
}

.img-container figure img{
    width: 100%;
}

.project figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(101, 186, 153, 0.5);
    color: white;
    font-size: 2em;
    display: none;
}

.project:hover figcaption{
    display: inline-block;
    transition: 0.5s;
}

.project figcaption .fg-icon{
    padding: 10px;
    cursor: pointer;
}

.project figcaption .fg-icon:hover{
    font-size: 1.2em;
}

/*col-lg-6*/
.project.col-lg-6 figcaption{
    padding: 40% 0;
}

.project.col-lg-6 figcaption .fg2{
    width: 80%;
    margin: 5% 10%;
    overflow: hidden;
}

.project.col-lg-6 figcaption .fg2 .fg-icon{
    width: 25%;
    float: left;
}

/*col-lg-3*/
.project.col-lg-3 figcaption{
    padding: 50% 0;
}

.project.col-lg-3 figcaption .fg2{
    width: 80%;
    margin: 5% 10%;
    overflow: hidden;
}

.project.col-lg-3 figcaption .fg2 .fg-icon{
    width: 25%;
    float: left;
}

/*testimonial*/

#testimonial{
    position: relative;
    padding: 50px 0;
    background:  url('../img/testimonial-back.jpg');
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
}

.testimonial-text,
.testimonial-who{
    color: white;
    font-family: 'bebas_neuebold';
}

.testimonial-who{
    font-size: 2em;
}

/**/

#news{
    background-color: #a0a0a0;
    overflow: hidden;
    padding: 40px 0;
}

#news .content-title{
    color: black;
}